@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body, html {
  background: #2c2c2c;
  font-family: 'Roboto', serif;
  color: #6de483;
}

hr {
  width: 80vw;
  color: #504f4f3f;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

a {
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.wrapper {
  margin: auto;
  width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropezone-title {
  font-size: 24px;
  font-weight: 700;
}

#dropzone {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 8px;
  background: #504f4f;
  text-align: center;  
  font-size: 24px;
  color: #83E895;
}

#searchInput {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 25px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #504f4f;
  color: #83E895;
  font-size: 20px;
}

.playlist-title {
  margin: 20px 0 0;
  font-size: 20px;
}

ul {
  box-sizing: border-box;
  padding: 20px 23px;
  width: 100%;
  min-height: 200px;
  background-color: #504f4f;
  border-radius: 8px;
  
}
li {
  margin-bottom: 16px;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.playlist-button {
  margin-left: 10px;
  padding: 5px 12px;
  background: #83E895;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.playerContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px 0 40px;
}
.playerContainer audio {
  margin-top: 20px;
  color: #83E895;
  width: 80vw;
}

.player-card {
  display: flex;
  flex-direction: space-between;
  gap: 40px;
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  flex: 1;
  border-radius: 8px;
  background: #504f4f;
}

#artist {
  font-size: 24px;
}

#cover {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 8px;
}

#video {
  color: #83E895;
  width: 100%; 
  max-width: 900px;
  margin: 30px auto;
}

.radio-title {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 0;
}

#currentSong, #searchResults {
  display: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }

  #playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding: 25px;
  }

  #playlist li {
    font-size: 1.1em;
    height: max-content;
    width: min-content;
  }
  .playlist-item {
    flex-direction: column;
    gap: 15px;
  }

  .playing-container {
    display: flex;
    justify-content: space-between;
    width: 100%
  }

  #artist, #song {
    font-size: 1em;
  }
}

@media screen and (max-width: 1440px) {
  .drag-file {
    display: none;
  }
}